<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}"/>
  <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/checkout.css')}}">

  <script src="{{url_for('static', filename='bootstrap.bundle.min.js')}}"></script>


  <style>
    #payment-pending {
        display: none;
    }

    #payment-failed {
        display: none;
    }
  </style>

  <title>Document</title>
</head>
<body>
  <header>
    <div class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom company-details">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="{{url_for('static', filename='images/fut-logo.png')}}" alt="" class="bi me-2" width="40" height="32">
        <span class="fs-4">Computer Engineering Payment System</span>
      </a>
    </div>
    <div class="container-fluid nav-fluid">
          <h2 class="navbar-brand">Payment</h2>
          <div class="dropdown text-end">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="{{url_for('static', filename='images/profile.jpg')}}" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="/">Home</a></li>
                <li><a class="dropdown-item" href="/sign-out">Sign Out</a></li>
            </ul>
          </div>

      </div>
  </header>
  <main>


      <div id="payment-failed">
  Uh-oh. Please try again, or contact support if you're encountering difficulties making payment.
</div>


<div id="payment-pending">
  Verifying...Setting up your cruise🚢
</div>


    <div class="container">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Billing Information</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <small class="text-muted">Name</small>
              <h6 class="my-0">{{user_info['name']}}</h6>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <small class="text-muted">Matric No</small>
              <h6 class="my-0">{{user_info['matric-no']}}</h6>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <small class="text-muted">Level</small>
              <h6 class="my-0">{{user_info['level']}}</h6>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <small class="text-muted">Card Id</small>
              <h6 class="my-0">{{user_info['card-id']}}</h6>
            </div>
          </li>
        </ul>

        <form class="card p-2">
          <div class="input-group price">
            <span class="input-group-text">N</span>
            <input id="amount" type="number" class="form-control" placeholder="Amount">
          </div>
        </form>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            I agree that the information above are accurate
          </label>
        </div>
        <div class="submit">
          <button class="w-100 btn btn-primary btn-lg" type="submit" onclick="makePayment()">Continue to checkout</button>
        </div>

    </div>

  </main>




  <script src="https://checkout.flutterwave.com/v3.js"></script>

</body>
</html>

<script>
  function getDetail(){

  }
let price;

  function makePayment() {
    FlutterwaveCheckout({
      public_key: "FLWPUBK_TEST-2b280f08412a507161c3f931a5cc346a-X",
      tx_ref: "cp-43MDI09wtUZ",
      amount: document.getElementById('amount').value,
      currency: "NGN",
      payment_options: "card, mobilemoneyghana, ussd",
      callback: function(payment) {
        if(payment.status == "successful"){
            verifyTransactionOnBackend(payment);
        }else{
            console.log("unsuccesful")
        }
      },
      onclose: function(incomplete) {
        if (incomplete || window.verified === false) {
          document.querySelector("#payment-failed").style.display = 'block';
        } else {
          document.querySelector("form").style.display = 'none';
          if (window.verified == true) {
            document.querySelector("#payment-success").style.display = 'block';
          } else {
            document.querySelector("#payment-pending").style.display = 'block';
          }
        }
      },
      meta: {
        consumer_id: 23,
        matric: "2019/2/3456EM"
      },
      customer: {
        email: "{{user_info['student-id']}}@futminna.edu.ng",
        phone_number: "08102909304",
        name: "{{user_info['name']}}",
      },
      customizations: {
        title: "COMPUTER ENGINEERING",
        description: "Recharge Your Payment Card",
        logo: "https://www.logolynx.com/images/logolynx/22/2239ca38f5505fbfce7e55bbc0604386.jpeg",
      },
    });
  }

  function verifyTransactionOnBackend(payment) {
     console.log(payment)
     console.log(payment.created_at)
    const xhttp = new XMLHttpRequest();
    xhttp.open("POST", "/verify-transaction/{{user_info['user-id']}}");
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.send("amount="+payment.amount+"&transaction_id="+payment.transaction_id+"&time="+payment.created_at);

    xhttp.onload = function(){
        console.log(this.responseText);
        if(this.responseText == "ok"){
            window.location = '/'
        }
    }

    // Let's just pretend the request was successful
    setTimeout(function() {
      window.verified = true;
    }, 200);
  }
</script>
